<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    FreshHell!
  </h1>
</div>
<div class="app-page">
  <img class="app-bg" src="assets/devil-29973_640.png" alt="">
  <div class="app-content">
    <p>
      What Fresh Hell is This! An application that helps you keep track of your hellish experiences. Here you can
      record every hellish experience you have had. The application will show you your most recent misfortunes as well
      as keep some simple stats about how often you have these experiences.
    </p>
    <p>
      This cartharsis brought to you by <a href="https://twitter.com/net_zer0" target="_blank">@net_zer0</a>
    </p>
    <form [formGroup]="formGroup">
      <label>
        Description: <input type="text" formControlName="hell">
      </label>
      <button type="Submit" (click)="submitForm()">Increase Hell</button>
      <br/><input type="checkbox">opt-in
    </form>
    <ul>
      <li *ngFor="let hell of hells.slice(0, 9)">{{ hell.description }} was observed at {{ hell.observed }}</li>
    </ul>
    Total Number of Hells Observed: {{ stats.count }}
  </div>
</div>
<app-angular-footer></app-angular-footer>

